<h3 style="text-align: center;"><span style="color: red"> Save File Method 1: Converting JSON Data in current list to Pandas Dataframe and saving as .csv</span></h3>

<b>Pros:</b> 
- Creates and populates all columns quickly
- Minimal lines of code to initiate and run

<b>Cons:</b> 
- Nested lists within columns become difficult to search, analyze, and clean further
- Potential (almost gauranteed) high variance between reported values in each column based on tweet metadata reported and collected
  - This would be a big issue when accounting for numerical analysis. Categorical analysis may still be possible, although incomplete

In [2]:
import json
import pandas as pd

In [9]:
tweets_data_path = 'applebees.json' # Collected data exported from AWS EC2 in .json format

tweets_data = []
tweets_file = open(tweets_data_path, "rt")
for line in tweets_file:
    try:
        tweet = json.loads(line)
        tweets_data.append(tweet)
    except:
        continue

In [13]:
# Checking data size and structure
print("There are " + str(len(tweets_data)) + " tweets in this dataset")

There are 4535 tweets in this dataset

<b>Note:</b> Twitter sets a limit on how many requests your Twitter app can make to Twitter. The above are the rate limiting messages from Twitter. If you collect tweets using extremely common or popular words/phrases, you will be capped at 3,200 tweets. To avoid this, using a single keyword search may reduce the limiting effect.

If your search term is not popular (e.g., supplychain, informationsystems, HR), you won't have this issue at all.

In [ ]:
# Saving the entire tweets (not other data) in a variable and print it

texts = [ T['text'] for T in tweets_data if 'text' in T ]
len(texts)

# removing error messages
tweets2 = []
for T in tweets_data:
    if 'text' in T:
        tweets2.append(T)
len(tweets2)       
# No errors removed - good!

### Example of data structure of 1 collected tweet

In [14]:
tweets_data[1]

{'created_at': 'Tue Oct 30 17:46:56 +0000 2018',
 'id': 1057328008300781570,
 'id_str': '1057328008300781570',
 'text': "I'm at Applebee's in Riyadh https://t.co/61fb1p0cgm",
 'source': '<a href="https://www.swarmapp.com" rel="nofollow">Foursquare Swarm</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 893703629366067200,
  'id_str': '893703629366067200',
  'name': 'disasterr9',
  'screen_name': 'RK9x_',
  'location': 'KSU medical student',
  'url': None,
  'description': 'whatcha lookin at dumbass',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 58,
  'friends_count': 62,
  'listed_count': 0,
  'favourites_count': 149,
  'statuses_count': 612,
  'created_at': 'Sat Aug 05 05:22:04 +0000 2017',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': '',
  'profile_background_image_url_https': '',
  'profile_background_tile': False,
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1056116929688145921/qZEFNGHj_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1056116929688145921/qZEFNGHj_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/893703629366067200/1540411845',
  'default_profile': True,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': {'type': 'Point', 'coordinates': [24.78323568, 46.66154306]},
 'coordinates': {'type': 'Point', 'coordinates': [46.66154306, 24.78323568]},
 'place': {'id': '01bf5c1e56ac186d',
  'url': 'https://api.twitter.com/1.1/geo/id/01bf5c1e56ac186d.json',
  'place_type': 'city',
  'name': 'Riyadh',
  'full_name': 'Riyadh, Kingdom of Saudi Arabia',
  'country_code': 'SA',
  'country': 'Kingdom of Saudi Arabia',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[46.304398, 24.332068],
     [46.304398, 25.111819],
     [47.065756, 25.111819],
     [47.065756, 24.332068]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/61fb1p0cgm',
    'expanded_url': 'https://www.swarmapp.com/c/9sGJs6zPm1A',
    'display_url': 'swarmapp.com/c/9sGJs6zPm1A',
    'indices': [28, 51]}],
  'user_mentions': [],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1540921616040'}

In [17]:
tweets_v1 = pd.DataFrame(tweets_data)
tweets_v1.to_csv('applebeesv1.csv')
tweets_v1.head(3)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,quoted_status_permalink,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,None,None,Tue Oct 30 17:46:37 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,"{'url': 'https://t.co/xB0iQBTAIJ', 'expanded':...",0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",An absolute disgrace,1540921597187,False,"{'id': 2529289158, 'id_str': '2529289158', 'na..."
1,None,"{'type': 'Point', 'coordinates': [46.66154306,...",Tue Oct 30 17:46:56 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,NaN,0,0,False,NaN,"<a href=""https://www.swarmapp.com"" rel=""nofoll...",I'm at Applebee's in Riyadh https://t.co/61fb1...,1540921616040,False,"{'id': 893703629366067200, 'id_str': '89370362..."
2,None,None,Tue Oct 30 17:46:58 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,"{'url': 'https://t.co/lZxgstceas', 'expanded':...",0,0,False,{'created_at': 'Mon Oct 29 22:50:50 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @DelReid: Unacceptable and embarrassing htt...,1540921618773,False,"{'id': 1393397864, 'id_str': '1393397864', 'na..."

<h3 style="text-align: center;"><span style="color: red">Save File Method 2: <b>Converting .json to .csv using external script</span></h3>

<b>Pros:</b> 
- Allows selection of columns you desire to have within .csv, so if you know what you are wanting to analyze it is a more targeted and efficient way of data pre-processing
- Efficient use at calling in other python scripts to minimize time spent otherwise cleaning data

<b>Cons:</b> 
- Conversion is not extremely accurate using the source code as-is. If there are tweets collected at identical times, NaN values appear and the order of the data shifts in the format of a .csv.
- In very large data sets manual manipulation of tweets that were collected, sliced incorrectly, and then imported may a large draw on time
- If the field you have selected to be extracted and then converted have null values or nested lists, you will still need to account for these

---

#### Process Notes
- Python script on Github 
    - Go to https://github.com/derekgreene/twitter-jsonl-tools
    - Download the project (download zip) and unzip the folder
    - In a terminal (command prompt), type **python jsonl-tweet-export.py applebees.json -o applebees_tweetsv2.csv**
    - You will now see a new CSV file created from the above command execution.
    - So if you have a **JSON file (for example, movies.json)**, then place the file inside sample folder and type **python jsonl-tweet-export.py sample/movies.json -o sample/movies_tweets.csv**

- The python file (**jsonl-tweet-export.py**) automatically creates columns (text, id, screen name, etc.) from JSON file
- To extract other columns such as follower count and favoriate count, you just need to modify jsonl-tweet-export.py

This will save you time!    


**NOTE: Not a perfect process; example shown below**

### Selected targeted features in .json file to be pulled into .csv format

Via modifying **jsonl-tweet-explort.py**

In [ ]:
# From:

header = ["Tweet_ID", "Created_At", "Author_Screen_Name", "Author_Id", "Text" ]

# To:

header = ["Tweet_ID", "Created_At", "Author_Screen_Name", "Author_Id", "Followers_Count", 
          "favorites_count", "retweet_count", "friends_count", "Text" ]


#AND

# From:

values = [ fmt_id(tweet["id"]), sdate, norm(tweet["user"]["screen_name"], sep).lower(),
          fmt_id(tweet["user"]["id"]), norm(tweet["text"], sep) ]

# To:

values = [ fmt_id(tweet["id"]), sdate, norm(tweet["user"]["screen_name"], sep).lower(),
          fmt_id(tweet["user"]["id"]), fmt_id(tweet["user"]["followers_count"]),
          fmt_id(tweet["user"]["favourites_count"]), fmt_id(tweet["retweet_count"]),
          fmt_id(tweet["user"]["friends_count"]), norm(tweet["text"], sep) ]

In [19]:
data = pd.read_csv("data/tweets_applebees.csv", header = 0)
data.head()

# The output data below originally had columns following 'Text' all 'Unnamed: 5', 'Unnamed: 6', etc. 
# I accidentally saved over it after correcting it the first time

,Tweet_ID,Created_At,Author_Screen_Name,Author_Id,Text
0,1.060000e+18,10/30/2018 17:46,newmfather,2.529289e+09,An absolute disgrace
1,1.060000e+18,10/30/2018 17:46,rk9x_,8.940000e+17,I'm at Applebee's in Riyadh https://t.co/61fb1...
2,1.060000e+18,10/30/2018 17:46,tadkrupa,1.393398e+09,RT @DelReid: Unacceptable and embarrassing htt...
3,1.060000e+18,10/30/2018 17:47,phderelict,3.207676e+09,Not sure what was worse . . . this or the fact...
4,1.060000e+18,10/30/2018 17:47,jebjackson22,1.549723e+09,RT @tomfellisheokay: YES I'M A MILLENNIAL: -I ...

<b>It appears that running the script to auto-convert the .json to .csv was not 100% perfect, and some tweets and their data spilled over to "extended" columns (# 5 - 8). Let's look.</b>

In [ ]:
# Placeholder Cell

# Dropping NaN values to isolate just the tweets with the "spilled over data" 
data['Unnamed: 8'].dropna()

<b>It seems that the tweets that were "joined" in the same row and improperly placed in the data, as a result of being collected at identical times of the tweet posting.</b>
    - I will come back to reference this situation later, regarding why I believe tweets posted at identical times is a revealing of a larger issue with social media mining in general

<b> Because it is (thankfully) only two tweets that didn't seem to be merged and formatted properly, I am choosing to manually correct this within the .csv file using Microsoft Excel at the identified index positions 1928 and 4213. 

I will manually append this as well because of the odd slicing that occurs between the data. Opening the .csv file, expanding the columns, and then re-saving it seems to allow it to at the very least open here.</b></b>

In [20]:
data = pd.read_csv("data/applebees_tweetsv2.csv", header = 0)
data = data.rename(columns={'Created_At': 'time',
                            'Author_Screen_Name': 'user',
                            'Followers_Count': 'followers',
                            'favorites_Count': 'favs',
                            'retweet_count': 'rt_count',
                            'Text': 'tweet'})
data.head()

,Tweet_ID,time,user,Author_Id,followers,favorites_count,rt_count,friends_count,tweet
0,1.060000e+18,10/30/2018 17:46,newmfather,2.529289e+09,206,2512,0,275,An absolute disgrace
1,1.060000e+18,10/30/2018 17:46,rk9x_,8.940000e+17,58,149,0,62,I'm at Applebee's in Riyadh https://t.co/61fb1...
2,1.060000e+18,10/30/2018 17:46,tadkrupa,1.393398e+09,315,29957,0,384,RT @DelReid: Unacceptable and embarrassing htt...
3,1.060000e+18,10/30/2018 17:47,phderelict,3.207676e+09,44,6913,0,119,Not sure what was worse . . . this or the fact...
4,1.060000e+18,10/30/2018 17:47,jebjackson22,1.549723e+09,192,1250,0,369,RT @tomfellisheokay: YES I'M A MILLENNIAL: -I ...